html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: sans-serif;
}

.lower {
  margin-top: 5px;
}

.flex-grow {
  flex-grow: 1
}

.flex-center {
  display: flex;
  justify-content: space-around;
}
.panel-white {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
}

.review-buttons {
  width: 180px;
  flex-shrink: 0;
}

.review-draft-comment .comment-file {
  font-weight: bolder;
}

.truncate-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-group .list-group-item:nth-child(even):not(.list-group-item-override) {
  background-color: #FAFAFA;
}

.modal.loading-modal {
  display: block;
  background-color: #FFFFFF;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.modal.error-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  opacity: 0.7;
}

.error-modal .alert {
  flex: 0 1 auto;
}

.list-
.btn-circle.btn-xs {
  border-radius: 7px;
  height: 15px;
  width: 15px;
  padding: 1px;
}

.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.flex-spacer {
  flex: 1 1 auto;
}

#dashboard {
  max-width: 100%;
  overflow-x: hidden;
}

.dashboard-content {
  padding-top: 10px;
}

.dashboard-header-error {
  color: red;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
}

.user-username {
  font-style: italic;
}

.user-avatar {
  padding-left: 10px;
}

.dashboard-changes {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.panel-super .panel-heading {
  background-color: #d9edf7;
}

.panel-heading-small {
  height: 28px;
  padding: 2px 15px;
}

.dashboard-changes-label {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 3px;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid none;
  background-color: #eee;
}

.dashboard-change-subject {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.dashboard-change-details {
  font-size: 70%;
  display: flex;
  justify-content: space-between;
}

.dashboard-change-details {
  padding: 2px 3px;
}

.change-label {
  margin: 2px;
}

.revision-arrow {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 8pt;
}

.revision-button .btn {
  width: 45px;
}

.revision-menu, .file-menu {
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  min-width: 100px;
}

.revision-menu {
  text-align: center;
}

.file-menu {
  right: -50px !important;
  text-align: left;
  max-width: 300px;
  overflow-x: auto;
}

.file-menu .current {
  pointer-events: none;
}

.file-menu > .current > a {
  font-weight: 700 !important;
  font-style: italic;
}

.footer-side {
  flex: 0 1 auto;
}

.footer-center {
  flex: 0 1 auto;
}

.footer {
  text-align: center;
}

.dashboard-change-mainline {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.dashboard-change-icons {
  flex-shrink: 0;
}

.change {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: solid 1px #aaa;
  padding-bottom: 5px;
}

.header-title {
  overflow-y: hidden;
  overflow-x: scroll;
}

.body {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.section {
  padding-top: 15px;
}

.change-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  white-space: nowrap;
  padding-bottom: 3px;
}

.up-button {
  padding: 3px;
  border: solid #aaa 1px;
  border-radius: 6px;
}

.change-commit-message {
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
}

.message {
  padding-top: 2px;
}
.message-short {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  background-color: #CCC;
  padding: 4px 0px;
}

.message-author {
  width: 80px;
  flex: 0 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-title {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message-date {
  font-size: 70%;
}

.message-expanded {
  white-space: pre-line;
}

.comment-filename {
  font-weight: bold;
}

.comment-row {
  display: flex;
}

.comment-line {
  width: 40px;
  vertical-align: top;
}

.comment-body {
  width: 100%;
}

.comment-draft .comment-body, .comment-draft .comment-header {
  font-style: italic;
}

.comment-edit-textarea {
  width: 100%;
  resize: none;
  border: solid 1px #DDD;
}

.action-bar-heading {
  flex: 1 1 auto;
}

.file {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.file-header {
  display: flex;
  justify-content: space-between;
}

.file-header-info {
  width: 80%;
  padding-left: 15px;
}

.file-header-change {
  font-size: 75%
}

.file-name {
  font-size: 120%;
}

.file-diff {
  flex: 1 1 auto;
  font-family: monospace;
  height: 100%;
  width: 100%;
  white-space: pre;
  overflow: scroll;
}

.expandable-diff-expand {
  color: #FFF;
  border: 1px 0px;
  border-color: #777;
  background-color: #777;
  text-align: center;
  vertical-align: middle;
  height: 20px;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.line-number {
  flex: 0 0 auto;
  font-size: 60%;
  width: 20px;
  text-align: right;
}

.file-diff-block {
}

.file-diff-block-a, .file-diff-block-a .line-content {
  background-color: #FAA;
}

.file-diff-block-b, .file-diff-block-b .line-content {
  background-color: #AFA;
}

.comment {
  background-color: #FFA;
  margin: 6px 0px;
  padding: 0px 10px;
}

.comment-header {
  display: flex;
  font: 60%;
  font-weight: bold;
  justify-content: space-between;
}

.comment-body {
  white-space: pre-wrap;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2e6da4;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.file-list-path {
  font-size: 60%;
}

.search-header {
  padding: 10px 0;
}
