html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

#gerrit-dashboard {
  max-width: 100%;
  overflow-x: hidden;
}

#gerrit-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.gerrit-dashboard-header-title {
  font-weight: bold;
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.gerrit-dashboard-header-error {
  color: red;
  font-weight: bold;
}

.gerrit-user {
  display: flex;
  align-items: center;
}

.gerrit-user-username {
  font-style: italic;
}

.gerrit-user-avatar {
  padding-left: 10px;
}

.gerrit-changes {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.gerrit-changes-label {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 3px;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid none;
  background-color: #eee;
}

.gerrit-change {
  border: solid #aaa 1px;
  border-radius: 6px;
  margin: 5px;
  margin-bottom: 10px;
}

.gerrit-change-subject {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gerrit-change-details {
  font-size: 50%;
  display: flex;
}

.gerrit-change-details > * {
  padding: 2px 3px;
}

.gerrit-review-change {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gerrit-review-change-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  white-space: nowrap;
  padding-bottom: 3px;
  border-bottom: solid 1px #aaa;
}

.gerrit-review-change-header-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.up-button {
  padding: 3px;
  border: solid #aaa 1px;
  border-radius: 6px;
}

.gerrit-review-change-body {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}
.gerrit-review-change-commit-message {
  padding: 10px 0px 20px;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
}

.gerrit-review-file-list-item {
  padding: 5px;
  margin: 0px 5px;
}

.gerrit-review-file-list-item-name {
  padding: 5px;
  border: solid #aaa 1px;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gerrit-review-file {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gerrit-review-file-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #aaa 1px;
  padding-bottom: 5px;
}

.gerrit-review-file-header-info {
  display: flex;
  flex-direction: column;
}

.gerrit-review-file-header-change {
  font-size: 60%
}

.gerrit-review-file-diff {
  flex: 1 1 auto;
  font-family: monospace;
  height: 100%;
  width: 100%;
  white-space: pre;
  overflow: scroll;
}

.gerrit-review-file-diff-block {
}

.gerrit-review-file-diff-block-a {
  background-color: #FAA;
}

.gerrit-review-file-diff-block-b {
  background-color: #AFA;
}
