html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

#dashboard {
  max-width: 100%;
  overflow-x: hidden;
}

#dashboard-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.dashboard-header-title {
  font-weight: bold;
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.dashboard-header-error {
  color: red;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
}

.user-username {
  font-style: italic;
}

.user-avatar {
  padding-left: 10px;
}

.dashboard-changes {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.dashboard-changes-label {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 3px;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid none;
  background-color: #eee;
}

.dashboard-change {
  border: solid #aaa 1px;
  border-radius: 6px;
  margin: 5px;
  margin-bottom: 10px;
}

.dashboard-change-subject {
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard-change-details {
  font-size: 50%;
  display: flex;
}

.dashboard-change-details > * {
  padding: 2px 3px;
}

.change {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: solid 1px #aaa;
  padding-bottom: 5px;
}

.header-title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

.body {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.section {
  padding-top: 15px;
}

.change-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  white-space: nowrap;
  padding-bottom: 3px;
}

.up-button {
  padding: 3px;
  border: solid #aaa 1px;
  border-radius: 6px;
}

.change-commit-message {
  padding: 10px 0px 20px;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
}

.file-list-item {
  padding: 5px;
  margin: 0px 5px;
}

.file-list-item-name {
  padding: 5px;
  border: solid #aaa 1px;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message {
  padding-top: 2px;
}
.message-short {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  background-color: #CCC;
  padding: 4px 0px;
}

.message-author {
  width: 80px;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-title {
  width: 300px;
  flex: 0 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message-expanded {
}

.comment-filename {
  font-weight: bold;
}

.comment-row {
  display: flex;
}

.comment-line {
  width: 40px;
  vertical-align: top;
}

.comment-body {
  width: 100%;
}


.file {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.file-header {
  display: flex;
  justify-content: space-between;
}

.file-header-info {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.file-header-change {
  font-size: 60%
}

.file-diff {
  flex: 1 1 auto;
  font-family: monospace;
  height: 100%;
  width: 100%;
  white-space: pre;
  overflow: scroll;
}

.file-diff-block {
}

.file-diff-block-a {
  background-color: #FAA;
}

.file-diff-block-b {
  background-color: #AFA;
}
